body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

header {
	padding: 20px 0;
}

header .row, footer .row {
	align-items: center;
	display: flex;
}

header h1 {
	font-weight: 700;
	margin: 0;
}

header nav {
	display: flex;
	justify-content: flex-end;
}

header p {
	padding: 0 20px;
	margin: 0;
}

.jumbotron {
	align-items: center;
	background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/jumbotron.jpg');
	background-position: center center;
	background-size: cover;
	color: #ffffff;
	display: flex;
	height: 500px;
}

.jumbotron h2 {
	font-size: 60px;
	font-weight: 700;
	margin: 0;
  color: #fff;
}

.jumbotron h3 {
	margin: 0 0 20px;
  color: #fff;
}

section .row img {
	margin: 0 0 30px;
	width: 100%;
}

.col-md-6 {
	margin: 0 0 30px;
}

.btn {
	border-radius: 2px;
}

.btn-primary {
	background-color: #ffffff;
	border: 0px;
	color: #FBD1D5;
}

.btn-primary:hover {
	background-color: #FBD1D5;
	color: #ffffff;
}

.btn-secondary {
	background-color: #E8DFE0;
	color: #ffffff;
	margin: 0 0 30px;
}

footer {
	font-size: 12px;
	padding: 20px 0;
}

footer .col-md-8 {
	display: flex;
	justify-content: flex-end;
}

footer ul {
	list-style: none;
}

footer img {
	width: 32px;
	height: 32px;
}

